@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-primary-50: #FFF5F5;
  --color-primary-100: #FFE5E5;
  --color-primary-200: #FFB3B3;
  --color-primary-300: #FF8080;
  --color-primary-400: #FF4D4D;
  --color-primary-500: #FF1A1A;
  --color-primary-600: #E60000;
  --color-primary-700: #B30000;
  --color-primary-800: #800000;
  --color-primary-900: #4D0000;
  --color-primary-950: #260000;
}